# Disallowed source files:

# Project local config:
.cache/
.dir-locals.el
.project_keep
compile_commands.json

# Temporary files:
*~
\#*\#
*.gcno
*.gcda
*.gcov
coding-style-reports.log

# Compiled/Binary files:
out
*.out
*.o
libhashtable.a
unit_tests
